.container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.show-container {
    width: 100%;
    height: 30%;
    flex-direction: column;
    background-color: #FFFFFF;
}

.expression-container {
    width: 100%;
    height: 70%;
    align-items: flex-end;
}

.expression-text {
    margin-end: 15px;
    width: 100%;
    font-size: 60fp;
    text-color: #000000;
    text-align: end;
}

.result-container {
    margin-top: 10px;
    width: 100%;
    height: 30%;
    align-items: flex-start;
}

.result-text {
    margin-end: 15px;
    width: 100%;
    text-align: end;
    font-size: 36fp;
    text-color: #000000;
}

.function-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70%;
    border-radius: 0px 0px 20px 20px;
    background-color: #F7F8F9;
}

.keyboard-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 450px;
}

.keyboard-top-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
}

.keyboard-bottom-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
}

.keyboard-bottom-left-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    height: 100%;
}

.keyboard-bottom-right-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 100%;
}

.flex-item {
    width: 80px;
    justify-content: center;
    align-items: center;
}

.span1col {
    height: 75px;
}

.span2col {
    height: 150px;  /* 75px*2 */
}

.keyboard-button {
    background-color: #FFFFFF;
    radius: 30px;
    box-shadow: 0px 0px 3px 3px #E6E6E6;
}

.icon-button {
    icon-width: 36px;
    icon-height: 36px;
}

.op-num-button {
    font-size: 32fp;
    text-color: #000000;
}

.function-button {
    font-size: 24fp;
    text-color: #666666;
}

.equal-button {
    width: 60px;    /* radius(30px)*2 */
    height: 135px;  /* */
    box-shadow: 0px 0px 2px 2px #B4B4B4;
    background-color: #0B5AF7;
    font-size: 40fp;
    text-color: #FFFFFF;
}

@media screen and (device-type: tablet) and (orientation: landscape) {
    .title {
        font-size: 100px;
    }
}

@media screen and (device-type: wearable) {
    .title {
        font-size: 28px;
        color: #FFFFFF;
    }
}

@media screen and (device-type: tv) {
    .container {
        background-image: url("/common/images/Wallpaper.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .title {
        font-size: 100px;
        color: #FFFFFF;
    }
}

@media screen and (device-type: phone) and (orientation: landscape) {
    .title {
        font-size: 60px;
    }
}
